name: CI

on:
  pull_request: {}
  push: {}

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc
      - uses: bahmutov/npm-install@v1
      - run: npm run ci
